.title1 {
    text-align: center;
    color: white;
    font-family: 'Lucida Sans';
}

.topbar {
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    background-color: rgb(35, 68, 129);
    user-select: none;
  }


.Card {
    width: 600px;
    height: 400px;
    font-size: 30px;
    padding: 25px;
    border: 2px solid rgb(35, 68, 129);
    background-color: white;
    box-shadow: 2px 2px 15px grey;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Lucida Sans';
    user-select: none;
}


.nextbutton {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px;
    user-select: none;
    color: white;
}

button {
    background-color: rgb(35, 68, 129);
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Lucida Sans';
}

.Hard {
    background-color: rgb(202, 95, 95);
}

.Medium {
    background-color: rgb(228, 231, 42);
}

.Easy {
    background-color: rgb(59, 202, 59);
}

.images {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}

.submit {
    text-align: center;
    margin: 20px;
    user-select: none;
    border-color: orange;
}

.input {
    margin: 10px;
    border-width: 5px;
}

.counter {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    font-family: 'Lucida Sans';
    user-select: none;
}

.red {
    border-color: red;
}

.black {
    border-color: black;
}

.green {
    border-color: green;
}